In [35]:
from pymongo import MongoClient
import urllib.parse


"""username = "Thiru"
password = "2LM1zUc3EVzfqfQ4"  # Replace with your actual password
# Escape the username and password
encoded_username = urllib.parse.quote_plus(username)
encoded_password = urllib.parse.quote_plus(password)

# Construct the connection string
connection_string = f"mongodb+srv://{encoded_username}:{encoded_password}@cluster1.mongodb.net"
"""

# Replace with your MongoDB Atlas connection string
#connection_string = "mongodb+srv://Thiru:2LM1zUc3EVzfqfQ4@cluster.mongodb.net"
connection_string="mongodb+srv://Thiru:2LM1zUc3EVzfqfQ4@cluster1.qqgenya.mongodb.net/?retryWrites=true&w=majority"

# Create a MongoDB client
client = MongoClient(connection_string)

In [36]:
db_names = client.list_database_names()
db_names

['sample_airbnb',
 'sample_analytics',
 'sample_geospatial',
 'sample_guides',
 'sample_mflix',
 'sample_restaurants',
 'sample_supplies',
 'sample_training',
 'sample_weatherdata',
 'admin',
 'local']

In [37]:
db = client.get_database("sample_airbnb")

In [38]:
collection = db.list_collection_names()

In [39]:
collection

['listingsAndReviews']

In [40]:
collection = db.get_collection("listingsAndReviews")

In [41]:
all_documents = collection.find({})
all_documents

"""# Loop through the documents and print some information
for document in all_documents:
    print("Listing ID:", document.get("id"))
    print("Name:", document.get("name"))
    print("Price:", document.get("price"))
    print("-------------------------------")

# Close the MongoDB connection
client.close()"""

'# Loop through the documents and print some information\nfor document in all_documents:\n    print("Listing ID:", document.get("id"))\n    print("Name:", document.get("name"))\n    print("Price:", document.get("price"))\n    print("-------------------------------")\n\n# Close the MongoDB connection\nclient.close()'

In [42]:
import pandas as pd

# Create lists to store data
unique_listing_id = []
listing_title = []
listing_description = []
unique_host_id = []
host_name = []
neighbourhood_name = []
coordinates = []
listing_price = []
start_date = []
end_date = []
amenities = []
average_rating = []
reviews_data = []

print(all_documents)
# Iterate through the fetched data and populate lists
for document in all_documents:
    unique_listing_id.append(document.get("_id"))
    listing_title.append(document.get("name"))
    listing_description.append(document.get("description"))
    unique_host_id.append(document.get("host_id"))
    host_name.append(document.get("host_name"))
    neighbourhood_name.append(document.get("neighbourhood"))
    coordinates.append(document.get("location", {}).get("coordinates"))
    listing_price.append(document.get("price"))
    start_date.append(document.get("availability", {}).get("start_date"))
    end_date.append(document.get("availability", {}).get("end_date"))
    amenities.append(document.get("amenities"))
    average_rating.append(document.get("rating"))
    reviews_data.append(document.get("reviews"))

# Create a dictionary from the lists
data_dict = {
    "_id": unique_listing_id,
    "name": listing_title,
    "description": listing_description,
    "host_id": unique_host_id,
    "host_name": host_name,
    "neighbourhood": neighbourhood_name,
    "coordinates": coordinates,
    "price": listing_price,
    "start_date": start_date,
    "end_date": end_date,
    "amenities": amenities,
    "rating": average_rating,
    "reviews": reviews_data
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data_dict)

# Close the MongoDB connection
client.close()

<pymongo.cursor.Cursor object at 0x000001F4D09E5F50>

In [43]:
# Display the DataFrame
df

,_id,name,description,host_id,host_name,neighbourhood,coordinates,price,start_date,end_date,amenities,rating,reviews
0,10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,None,None,None,None,80.00,None,None,"[TV, Cable TV, Wifi, Kitchen, Paid parking off...",None,"[{'_id': '58663741', 'date': 2016-01-03 05:00:..."
1,10009999,Horto flat with small garden,One bedroom + sofa-bed in quiet and bucolic ne...,None,None,None,None,317.00,None,None,"[Wifi, Wheelchair accessible, Kitchen, Free pa...",None,[]
2,1001265,Ocean View Waikiki Marina w/prkg,A short distance from Honolulu's billion dolla...,None,None,None,None,115.00,None,None,"[TV, Cable TV, Wifi, Air conditioning, Pool, K...",None,"[{'_id': '4765259', 'date': 2013-05-24 04:00:0..."
3,10021707,Private Room in Bushwick,Here exists a very cozy room for rent in a sha...,None,None,None,None,40.00,None,None,"[Internet, Wifi, Air conditioning, Kitchen, Bu...",None,"[{'_id': '61050713', 'date': 2016-01-31 05:00:..."
4,10030955,Apt Linda Vista Lagoa - Rio,Quarto com vista para a Lagoa Rodrigo de Freit...,None,None,None,None,701.00,None,None,"[TV, Cable TV, Internet, Wifi, Air conditionin...",None,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9983221,Cozy apartment downtown Porto,"Renovated, fully equipped, within walking dist...",None,None,None,None,58.00,None,None,"[TV, Cable TV, Internet, Wifi, Kitchen, Paid p...",None,"[{'_id': '58712074', 'date': 2016-01-03 05:00:..."
5551,9985696,Kadıköy-Altıyol,Kadıköy merkezde 2+1 dairem vardır.Çok kalabal...,None,None,None,None,501.00,None,None,"[TV, Cable TV, Internet, Wifi, Kitchen, Buzzer...",None,[]
5552,9987200,The best suite in Copacabana (total privacy),Excellent private suite with bathroom at the A...,None,None,None,None,101.00,None,None,"[TV, Cable TV, Wifi, Air conditioning, Pool, G...",None,"[{'_id': '59095547', 'date': 2016-01-06 05:00:..."
5553,9990304,March Madness Special! Aina Nalu Platinum D107,Walk out to Saltwater Infinity Pool! Call us N...,None,None,None,None,227.00,None,None,"[TV, Cable TV, Wifi, Air conditioning, Wheelch...",None,"[{'_id': '43174613', 'date': 2015-08-17 04:00:..."
5554,9993190,Just Steps from the Ocean at Premier Platinum ...,Relax Hawaiian Style in Gated Community on Oce...,None,None,None,None,220.00,None,None,"[TV, Wifi, Air conditioning, Pool, Kitchen, Fr...",None,"[{'_id': '68762225', 'date': 2016-04-06 04:00:..."

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   _id            5555 non-null   object
 1   name           5555 non-null   object
 2   description    5555 non-null   object
 3   host_id        0 non-null      object
 4   host_name      0 non-null      object
 5   neighbourhood  0 non-null      object
 6   coordinates    0 non-null      object
 7   price          5555 non-null   object
 8   start_date     0 non-null      object
 9   end_date       0 non-null      object
 10  amenities      5555 non-null   object
 11  rating         0 non-null      object
 12  reviews        5555 non-null   object
dtypes: object(13)
memory usage: 564.3+ KB